<%- include('../includes/head.ejs') %>
    </head>
        
    <body>      
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (cart.length > 0) { %>
                <div class="grid">
                    <% for (let product of cart) { %>
                        <article class="card product-item">
                                <h3 class="product__price">$<%= product.name %></h2>
                                <h2 class="product__price">$<%= product.price %></h2>
                                <h2 class="product__price">Quantity: <%= product.qty %></h3>

                                <a href="/products/<%= product.id %>" class="btn">Details</a>
                                <form action="/cart/delete-cart" method="POST">
                                    <input type="hidden" name="productId" value="<%= product.id %>">
                                    <button class="btn" type="submit">Delete</button>                                   
                                </form>
                        </article>
                    <% } %>
                </div>
            <% } else { %>
                <h1>No Products Found!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>